@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600&display=swap');

*,*::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --icon-light-dark: #5e5e5e;
  --font-family: "Poppins", sans-serif;
}

body {
  
}

p {
  font-weight: 300;
  font-size: .9rem;
  font-family: var(--font-family);
}

small {
  font-size: .75rem;
  font-weight: 400;
  font-family: var(--font-family);
}

h2 {
  font-size: 1.3rem;
  font-family: var(--font-family);
}

h3 {
  font-size: 1rem;
  font-weight: 500;
  font-family: var(--font-family);
}

h4 {
  font-size: .8rem;
  font-weight: 500;
  font-family: var(--font-family);
}

/* sidebar */
.sidebar {
  width: 23%;
  min-height: 100vh;
  padding: 1.2rem 1.2rem;
  background-color: #F9F9F9;
}

.logo-brand-username-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-brand-username-container .logo-brand-and-username-wrapper {
  display: flex;
  align-items: center;
}

.logo-brand-and-username-wrapper .logo {
  background-color: black;
  width: 38px;
  height: 38px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-brand-and-username-wrapper .logo svg {
  fill: white !important;
}

.brand-and-username-wrapper {
  margin-left: 12px;
}

.brand-and-username-wrapper p.brand {
  font-weight: 500;
  margin-top: 8px;
  line-height: 8px;
}

.brand-and-username-wrapper small {
  padding-top: -1rem;
  color: rgb(146, 146, 146);
  font-weight: 300;
  font-size: .7rem;
}

.logo-brand-username-container #close-open-sidebar-button {
  margin-top: 7px;
}

/* private and workspace container */
.task-categories-list {
  margin-top: 1.5rem;
}

ul {
  list-style-type: none;
}

.private-task-list .task-list {
  margin-top: .7rem;
}

.private-task-list .task-list .list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 10px;
  cursor: pointer;
}

.private-task-list .task-list .list p {
  font-size: .75rem;
  font-weight: 400;
}

.private-task-list .task-list .list .draggable-and-icon-wrapper {
  display: flex;
  align-items: center;
  gap: 6px;
}

.draggable-and-icon-wrapper .title {
  display: flex;
  align-items: center;
}

.draggable-and-icon-wrapper span svg {
  margin-top: 3px;
  cursor: grab;
}

.draggable-and-icon-wrapper .title p {
  margin-left: 6px;
}

.amount-of-tasks-in-list {
  width: 15px;
  height: 17px;
  background-color: #EBEBEB;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.amount-of-tasks-in-list p {
  font-size: .7rem !important;
}

#private-active-list {
  background-color: #EBEBEB;
  border-radius: 4px;
}

#private-active-list .amount-of-tasks-in-list {
  background-color: white;
}

.create-new-private-list {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  margin-top: .6em;
}

.create-new-private-list .create-icon-text {
  display: flex;
  align-items: center;
  gap: 8px;
}

.create-new-private-list .create-icon-text p {
  font-size: .75rem !important;
  font-weight: 400;
}

.shortcut-l {
  display: flex;
  align-items: center;
  gap: 6px;
}

.shortcut-l p {
  font-size: .7rem !important;
  width: 17px;
  height: 19px;
  background-color: #EBEBEB;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* workspace */
.workspace-container {
  margin-top: 2.3em;
}

.workspace-container p {
  font-size: .75rem;
  font-weight: 400;
}

.workspace-container ul {
  margin-top: 1em;
}

.workspace-container .workspace-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 10px 7px 0;
}


.workspace-container .title {
  display: flex;
  gap: 6px;
  margin-left: 4px;
}

.workspace-container #checkbox {
  height: 19px;
  width: 19px;
  border: 1.3px solid rgb(23, 82, 232);
  border-radius: 6px;
}

.workspace-container .draggable-and-title-wrapper {
  display: flex;
  align-items: center;
}

.workspace-container .draggable-and-title-wrapper span svg {
  margin-top: 4px;
}

.create-new-workspace {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1em;
}

.create-new-workspace .create-icon-text p {
  font-size: .75rem;
  font-weight: 400;
}

.create-new-workspace .create-icon-text {
  display: flex;
  gap: 9px;
}